@model Lte.Evaluations.Kpi.IStatDateViewModel

<fieldset>
    <legend>统计日期</legend>
    <ol>
        <li>
            @Html.LabelFor(x=>x.StatDate)
            @Html.EditorFor(x=>x.StatDate)
        </li>
    </ol>
</fieldset>
