@model Lte.Evaluations.ViewHelpers.CollegeViewModel

@{
    ViewBag.Title = "校园网信息管理";
}

@section featured 
{
    <hgroup class="title">
        <h1>@ViewBag.Title</h1>
        <div align="right">
            @Html.ActionLink("新增校园", "CollegeDetails",  new { id = -1 }, new {@class="btn btn-primary"})
        </div>
    </hgroup>
}

<div class="row">
    <div id="radiotabs" class="col-md-12">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#show-list" data-toggle="tab">校园列表</a></li>
            <li><a href="#import-info" data-toggle="tab">批量导入信息</a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div id="show-list" class="tab-pane fade in active">
                <table class="table table-hover">
                    @if (Model.Colleges.Any())
                    {
                        Html.RenderPartial("_CollegeTable", Model.Colleges);
                    }
                </table>
            </div>
            <div id="import-info" class="tab-pane fade">
                @using (Html.BeginForm("InfrastructureImport", "College",
                    FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <fieldset>
                        <legend>基础信息文件导入选择</legend>
                        <ol>
                            <li>
                                LTE基础信息文件选择：
                                <input type="file" name="lte" accept=".xls, .xlsx" />
                            </li>
                            <li>
                                CDMA基础信息文件选择：
                                <input type="file" name="cdma" accept=".xls, .xlsx" />
                            </li>
                        </ol>
                    </fieldset>

                    <p>
                        <div class="btn-group">
                            <button type="submit" class="btn btn-primary">
                                <span class="glyphicon glyphicon-save"></span>导入信息
                            </button>
                        </div>
                    </p>
                }
            </div>
        </div>
    </div>
</div>
